html, body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
}

header img {
    position: absolute;
    width: 80px;
    height: 80px;
}

nav li {
    margin-right: 10px;
}

nav ul {
    justify-content: right;
    list-style: none;
    display: flex;
}

header {
    height: 80px;
    width: 100%;
    display: inline-block;
    background-color: navy;
}

main {
    flex-grow: 1;
}

body div {
    width: 100%;
    color: white;
}